<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>welcome to task-it world</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/loginCss/login.css}">
	</head>
	<body>
		<div class="content">
			<div class="left-image"></div>
			<div class="container">
				<div id="login-info">
					<h2>로그인</h2>
					<form th:action="@{/member/login}" method="post">
						<div class="userid">
							<label>
								<input type="email" name="email" placeholder="이메일" required="required">
							</label>
						</div>
						<div class="userpw">
							<label>
								<input type="password" name="password" placeholder="비밀번호" maxlength="10" required="required">
							</label>
						</div>
						<div class="btn_submit">
							<input type="submit" value="sign in">
						</div>
					</form>
					<div class="sign-with-another">
						<span>— Or Sign in with —</span>
						<div>소셜로그인 버튼</div>
					</div>
					<div><a th:href="@{/member/signupForm}">계정이 없으신가요?</a></div>
				</div>
			</div>
		</div>
	</body>
</html>
