<!DOCTYPE html>
<html lang="ko" xmls:th:="http://www.thymeleaf.org">
	<head>
		<title>google test</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="login.css" />
	</head>
	<body>
		<div class="content">
			<div class="left-image"></div>
			<div class="container">
				<div id="login-info">
					<h2>로그인</h2>
					<form
						th:object="${member}"
						th:action="@{/member/join}"
						method="post"
						onsubmit="return check();"
					>
						<div class="userid">
							<label>
								<input
									type="email"
									th:field="*{memberid}"
									placeholder="아이디 이메일"
									required="required"
								/>
							</label>
						</div>
						<div class="userpw">
							<label>
								<input
									type="password"
									th:field="*{memberpw}"
									placeholder="비밀번호"
									maxlength="10"
									required="required"
								/>
							</label>
						</div>
						<div class="btn_submit">
							<input type="submit" value="sign in" />
						</div>
					</form>
					<div class="sign-with-another">
						<span>- Or Sign in with -</span>
					</div>
					<div>소셜로그인 버튼</div>
				</div>
			</div>
		</div>
	</body>
</html>
