<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up Task-it!</title>
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/loginScript/loginJS.js}"></script>
    <link rel="stylesheet" th:href="@{/css/loginCss/signup.css}">
</head>
<body>
<div class="content">
    <div class="left-image"></div>
    <div id="sign-up-form">
        <h2 id="sign-up-title">회원가입</h2>
        <form th:object="${user}" id="signupForm" th:action="@{/}" method="post" onsubmit="return loginChk();">
            <div class="userid">
                <label>
                    <input type="email" th:field="*{email}" placeholder="이메일" required="required">
                </label>
            </div>
            <div class="userpw">
                <label>
                    <input type="password" th:field="*{password}" placeholder="비밀번호" minlength="8" maxlength="10" required="required">
                </label>
            </div>
            <div class="btn_submit">
                <input type="submit" value="sign up">
            </div>
        </form>
        <div><a th:href="@{/}">뒤로가기</a></div>
    </div>
</div>
</body>
</html>